<ion-content>
  <div class="text">
    <p>Filters</p>
 
    <label class="container">All
      <input type="radio" name="radio" checked>
      <span class="checkmark"></span>
    </label>
    <label class="container">My Posts
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container">My Applications
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="footer-div"> 
    <ion-row style="width: 100%;">
      <ion-col size="5">
        <button id="footer-btn1" (click)="close()">CLOSE</button>
      </ion-col>
      <ion-col size="1">
      </ion-col>
      <ion-col size="3" class="footer-label">
        <p>Clear Filter</p>
      </ion-col>
      <ion-col size="3">
        <button id="footer-btn2">SEARCH</button>
      </ion-col>
      </ion-row>
</div> 
</ion-content>
