<app-back-header></app-back-header>
<ion-content style="--background: #FFFFFF !important;">
    <ion-item lines="none" class="item">
      <ion-row style="width: 100%;">
        <ion-col size="2">
      <ion-avatar class="avatar-image1">
        <ion-img src="../../assets/images/talent1.png" alt="">
        </ion-img>
      </ion-avatar>
      </ion-col>
      <ion-col size="10">
      <ion-label class="msg-label">
        <h3 class="sender-name">Olivia Smith</h3>
        <p class="size-font">Wed, 08/16/2019 18:18:43</p>
        <p class="size-font">mmmmmmmm</p>
      </ion-label>
      </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="none" class="item">
      <ion-row style="width: 100%;">
        <ion-col size="2">
      <ion-avatar class="avatar-image1">
        <ion-img src="../../assets/images/talent1.png" alt="">
        </ion-img>
      </ion-avatar>
      </ion-col>
      <ion-col size="10">
      <ion-label class="msg-label">
        <h3 class="sender-name">Olivia Smith</h3>
        <p class="size-font">Wed, 08/16/2019 18:18:43</p>
        <p class="size-font">mmmmmmmm</p>
      </ion-label>
      </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="none" class="item">
      <ion-row style="width: 100%;">
        <ion-col size="2">
      <ion-avatar class="avatar-image1">
        <ion-img src="../../assets/images/talent1.png" alt="">
        </ion-img>
      </ion-avatar>
      </ion-col>
      <ion-col size="10">
      <ion-label class="msg-label">
        <h3 class="sender-name">Olivia Smith</h3>
        <p class="size-font">Wed, 08/16/2019 18:18:43</p>
        <p class="size-font">mmmmmmmm</p>
      </ion-label>
      </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="none" class="item">
      <ion-row style="width: 100%;">
        <ion-col size="2">
      <ion-avatar class="avatar-image1">
        <ion-img src="../../assets/images/talent1.png" alt="">
        </ion-img>
      </ion-avatar>
      </ion-col>
      <ion-col size="10">
      <ion-label class="msg-label">
        <h3 class="sender-name">Olivia Smith</h3>
        <p class="size-font">Wed, 08/16/2019 18:18:43</p>
        <p class="size-font">mmmmmmmm</p>
      </ion-label>
      </ion-col>
      </ion-row>
    </ion-item>
    <div style="position: absolute; background-color: transparent; bottom: 0px; width: 100%">
      <div class="msg-div">
        <ion-textarea class="msg-area"></ion-textarea>
      </div>
      <div class="row">
      <button id="footer-btn1" class="col-4 button button-block btn btn-sm btn btn-outline-secondary">Report to admin</button>
      <button id="footer-btn2" class="col-3 button button-block btn btn-sm ml-auto">SEND</button>
      </div>
  </div> 
</ion-content>
