<app-back-header></app-back-header>
<ion-content>
  
  <div>
    <ion-item class="fixed-heading" lines="none">
      <!-- <div class="card-title ">Gig Name</div>
      <span class="ml-3">
        <span><i class="far fa-heart fa-1x ml-3  text-secondary"></i></span>
        <span><i class="fas fa-share-alt fa-1x ml-3 text-secondary"></i></span>
      </span> -->
      <ion-row style="width: 100%;">
        <ion-col size="8"><div class="card-title bold-font header-font-size" style="margin-bottom: 0px;">Gig Name</div></ion-col>
        <ion-col size="2"><span><i class="far fa-heart fa-1x ml-3  text-secondary"></i></span></ion-col>
        <ion-col size="2"><span><i class="fas fa-share-alt fa-1x ml-3 text-secondary"></i></span></ion-col>
      </ion-row>
    </ion-item>
    <div >
      <div class="card-body" style="background: #f5f5f5;">
       
        <!-- <div class="d-flex ">
          <div class="card-title ">Gig Name</div>
          <span class="ml-3">
            <span><i class="far fa-heart fa-1x ml-3  text-secondary"></i></span>
            <span><i class="fas fa-share-alt fa-1x ml-3 text-secondary"></i></span>
          </span>
        </div> -->
        <div class="row" style="margin-top: 26px;">
          <div class="col-lg-6 size-font">
            Gig Type: Documentary<br>
            Type: Documentary<br>
            Location of shoot: 29 Mile Road, New Heaven, Michigan, 48048, US<br>
            Production Dates:06/24/2019 - 07/24/2019<br>
            Length: Short<br>
            Union: union<br>
            Payment: unpaid<br>
            Total number of production days: 15<br>
            Working days: 5<br>
            Kit rentals available?: No<br>
            Lodging Provided?: Yes<br>
            Per dime Provided?: Yes<br>
            Travel Provided?: Yes<br>
            How much: 70<br>
            <!-- Kit Rentals Available: No<br>
            Positions Available: Position 1, Position 2, Position 3<br>
            Description:<br>
            In vel sodales est. Nullam purus mi, congue sed condimentum sed, sagittis ut risus. Quisque id commodo sem, non ultrices metus. Nunc tristique augue ut tellus tincidunt, a dignissim nunc posuere. Curabitur mi nibh, egestas ac vulputate eget, fringilla eget sapien. Etiam aliquam vitae erat quis tincidunt. Donec sit amet leo urna. Proin eget viverra lectus, nec imperdiet libero. -->
          
          </div>
          <div class="col-lg-3">
            <p class="bold-font" style="margin-top: 12px;">Contact</p>
            <p class="size-font"><i class="fas fa-envelope mr-2"></i> <a href="mailto:info@hvfent.com" class="size-font">info@hvfent.com</a></p>
            <p class="size-font"><i class="fas fa-mobile-alt mr-2"></i><a href="#" class="size-font">+1 658 265 5898</a></p>
            <p><i class="fab fa-facebook mr-2"></i><a href="#" class="size-font">fb.me/hvfent</a></p>
            <p><i class="fab fa-twitter-square mr-2"></i><a href="#" class="size-font">twitter.com/hvfent</a></p>
            <p><i class="fas fa-globe-americas mr-2"></i><a href="#" class="size-font" >www.hvfent.com</a></p>
          </div>
          <div class="col-lg-3">
            <p class="bold-font">Producer</p>
            <div class="card shadow-sm">
              <ion-item>
                <ion-thumbnail slot="start">
                  <img src="assets/images/talent1.png" class="card-img-left" alt="...">
                </ion-thumbnail>
                <div>
                  <div><span style="font-weight: bold;" class="size-font">Anna Maria Barbi</span></div>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-warning"></i>
                  <i class="fas fa-star text-secondary"></i>
                </div>
              </ion-item>
            </div>
          </div>
          <!-- <div class="col-lg-6 mt-3">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Your message</label>
                <textarea class="form-control"></textarea>
              </div>
              <button  class="btn btn-primary shadow-sm">APPLY FOR THIS GIG</button>
            </form>
          </div> -->
        </div>
      </div>
      <div class="col-lg-12 mt-3 border-top">
        <div class="py-3 bold-font">Applications</div>
        <div class="row py-2 border-bottom">
          <div class="col-lg-8">
            <div class="media">
            <img src="assets/images/talent1.png" class="mr-3 rounded-circle" style="width: 50px; height: 50px; object-fit: cover;" alt="...">
            <div class="media-body">
              <ion-row>
                <ion-col>
                  <ion-label class="size-font">Gigs Name</ion-label>&nbsp;<i class="fas fa-comments fa-lg text-secondary"></i>
                </ion-col>
              </ion-row>
              <div class="size-font">Gigs description</div>
            </div>
            </div>
          </div>
          <!-- <div class="col-lg-4 text-right">
            <button class="btn btn-danger btn-sm ml-1 shadow-sm">DECLINE</button>
            <button class="btn btn-success btn-sm ml-1 shadow-sm" >ACCEPT</button>
          </div> -->
          <!-- <div class="col-lg-4 text-right">
            <span class="alert alert-success float-right p-1">ACCEPTED</span>
          </div> -->
          <div class="col-lg-4 text-right">
            <span class="alert alert-danger float-right p-1 size">DECLINED</span>
          </div>
        </div>
        <div class="row py-2 border-bottom">
          <div class="col-lg-8">
            <div class="media">
            <img src="assets/images/talent1.png" class="mr-3 rounded-circle" style="width: 50px; height: 50px; object-fit: cover;" alt="...">
            <div class="media-body">
              <ion-row>
                <ion-col>
                  <ion-label class="size-font">Gigs Name</ion-label>&nbsp;<i class="fas fa-comments fa-lg text-secondary"></i>
                </ion-col>
              </ion-row>
              <div class="size-font">Gigs description</div>
            </div>
            </div>
          </div>
          <!-- <div class="col-lg-4 text-right">
            <button class="btn btn-danger btn-sm ml-1 shadow-sm">DECLINE</button>
            <button class="btn btn-success btn-sm ml-1 shadow-sm" >ACCEPT</button>
          </div> -->
          <div class="col-lg-4 text-right">
            <span class="alert alert-success float-right p-1 size">ACCEPTED</span>
          </div>
          <!-- <div class="col-lg-4 text-right">
            <span class="alert alert-danger float-right p-1">DECLINED</span>
          </div> -->
        </div>
        <div class="row py-2 border-bottom">
          <div class="col-lg-8">
            <div class="media">
            <img src="assets/images/talent1.png" class="mr-3 rounded-circle" style="width: 50px; height: 50px; object-fit: cover;" alt="...">
            <div class="media-body">
              <ion-row>
                <ion-col>
                  <ion-label class="size-font">Gigs Name</ion-label>&nbsp;<i class="fas fa-comments fa-lg text-secondary"></i>
                </ion-col>
              </ion-row>
              <div class="size-font">Gigs description</div>
            </div>
            </div>
          </div>
          <div class="col-lg-4 text-right">
            <button class="btn btn-danger btn-sm ml-1 shadow-sm size" >DECLINE</button>
            <button class="btn btn-success btn-sm ml-1 shadow-sm size" >ACCEPT</button>
          </div>
          <!-- <div class="col-lg-4 text-right">
            <span class="alert alert-success float-right p-1">ACCEPTED</span>
          </div> -->
          <!-- <div class="col-lg-4 text-right">
            <span class="alert alert-danger float-right p-1">DECLINED</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</ion-content>