<ion-content style="--background: #F5F5F5;">
  <div class="container">
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right">Gig Title</label>
      <div class="col-sm-8 col-lg-4">
        <input type="text" class="form-control" id="" value="" placeholder="Gig Title">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right">Gig Type</label>
      <div class="col-sm-8 col-lg-4">
        <select class="form-control" placeholder="">
          <option selected>Casting Call</option>
          <option value="uae"></option>
          <option value="usa"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right">Radius</label>
      <div class="col-sm-8 col-lg-4">
        <select class="form-control" placeholder="100+ Miles">
          <option selected>100+ Miles</option>
          <option value="uae"></option>
          <option value="usa"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right">City/State</label>
      <div class="col-sm-8 col-lg-4">
        <input type="text" class="form-control" id="" value="" placeholder="Gig Title">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-8 col-lg-4">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Casting Call</label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right">Race</label>
      <div class="col-sm-8 col-lg-4">
        <select class="form-control" placeholder="">
          <option selected>select</option>
          <option value="uae"></option>
          <option value="usa"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right">Physical Characteristics</label>
      <div class="col-sm-8 col-lg-4">
        <select class="form-control" placeholder="select">
          <option selected>select</option>
          <option value="uae"></option>
          <option value="usa"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pb-0">Position Available</label>
      <div class="col-sm-8 col-lg-4 position">
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">AD deparment</label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Production deparment</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Camera deparment</label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">G & E deparment</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">HMU deparment</label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Wardrobe deparment</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Sound deparment</label>
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Art deparment</label>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="width: 100%;">
          <ion-col size="6">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Transpotation deparment</label>
            </div>
          </ion-col>
          <ion-col size="6">
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="d-flex text-right w-100 py-3 px-2 " style="align-items: center;background: lightgrey">
    <button class="btn btn-primary shadow-sm" style="color:black !important; background: #ffffff;border:#ffffff"
      (click)="close()">CLOSE</button>
    <a href="javascript:void(0);" class="ml-auto mr-2" (click)="clear()" style="color: white;">Clear Filter</a>
    <button type="submit" class="btn btn-primary shadow-sm">SEARCH</button>
  </div>
</ion-footer>