<ion-header>
	<ion-toolbar style="--background: #000000;">
	  <ion-buttons slot="end">
		<ion-menu-button style="--color:#ffffff"></ion-menu-button>
	  </ion-buttons>
	  <ion-img class="logoIcon" src="assets/images/logo.png" slot="start"></ion-img>
	</ion-toolbar>
  </ion-header>

<ion-content style="--background: #F5F5F5 !important;">
	<ion-item lines="full"  class="fixed-heading">
		<ion-row style="width: 100%;">
			<ion-col size="3" (click)="highlight('Actors')"  class="selectedArtist" [ngClass]="{'highlightArtist': isHighlited=='Actors'}">
				<span>Actors</span>
			</ion-col>
			<ion-col size="3" (click)="highlight('Crews')"   class="selectedArtist" [ngClass]="{'highlightArtist': isHighlited=='Crews'}">
				<span>Crews</span>
			</ion-col>
			<ion-col size="4">
			</ion-col>
			<ion-col size="2">
				<ion-button size="small" id="filterBtn" (click)="filter()">Filter</ion-button>
			</ion-col>
		</ion-row>
	</ion-item>
	<div style="margin-top: 55px;" (click)="profile()">
	<ion-row style="width: 100%" class="shadow-sm">
		<ion-col size="6" class="profilecol" >
			<div class="profile">
				<ion-img src="../../../assets/images/talent1.png" style="--border-radius:0px" alt="Please wait.."
					class="actorImage">
				</ion-img>
				<div class="border-right">
					<ion-card-header>
						<ion-card-title>Miller Smith , 25</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<p>
							137 Teaticket Hwy, East Falmouth MA 2536
						</p>
						<p>
							Female , 5'8', 55 lb
						</p>
					</ion-card-content>
					<ion-row></ion-row>
					<ion-row style="width: 100%;background: #F8F9FA !important;" class="mt-2 mb-0">
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<i class="fas fa-envelope fa-lg text-secondary"></i>
						</ion-col>
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<i class="fas fa-phone   fa-rotate-90 text-secondary"></i>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</ion-col>


		<ion-col size="6" class="profilecol">
			<div class="profile">
				<ion-img src="../../../assets/images/talent1.png" alt="Please wait.." class="actorImage">
				</ion-img>
				<div class="border-right">
					<ion-card-header>
						<ion-card-title>Miller Smith , 25</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<p>
							137 Teaticket Hwy, East Falmouth MA 2536
						</p>
						<p>
							Female , 5'8', 55 lb
						</p>
					</ion-card-content>
					<ion-row style="width: 100%;background:#F8F9FA" class="mt-2 mb-0">
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<i class="fas fa-envelope fa-lg text-secondary"></i>
						</ion-col>
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<i class="fas fa-phone   fa-rotate-90 text-secondary"></i>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</ion-col>
	</ion-row>
	<ion-row style="width: 100%" class="shadow-sm">
		<ion-col size="6" class="profilecol" (click)="profile()">
			<div class="profile">
				<ion-img src="../../../assets/images/talent1.png" style="--border-radius:0px" alt="Please wait.."
					class="actorImage">
				</ion-img>
				<div class="border-right">
					<ion-card-header>
						<ion-card-title>Miller Smith , 25</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<p>
							137 Teaticket Hwy, East Falmouth MA 2536
						</p>
						<p>
							Female , 5'8', 55 lb
						</p>
					</ion-card-content>
					<ion-row></ion-row>
					<ion-row style="width: 100%;background:#F8F9FA" class="mt-2 mb-0">
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<i class="fas fa-envelope fa-lg text-secondary"></i>
						</ion-col>
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<i class="fas fa-phone   fa-rotate-90 text-secondary"></i>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</ion-col>


		<ion-col size="6" class="profilecol">
			<div class="profile">
				<ion-img src="../../../assets/images/talent1.png" alt="Please wait.." class="actorImage">
				</ion-img>
				<div class="border-right">
					<ion-card-header>
						<ion-card-title>Miller Smith , 25</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<p>
							137 Teaticket Hwy, East Falmouth MA 2536
						</p>
						<p>
							Female , 5'8', 55 lb
						</p>
					</ion-card-content>
					<ion-row style="width: 100%;background:#F8F9FA" class="mt-2 mb-0">
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<i class="fas fa-envelope fa-lg text-secondary"></i>
						</ion-col>
						<ion-col size="1"></ion-col>
						<ion-col size="3">
							<i class="fas fa-phone   fa-rotate-90 text-secondary"></i>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</ion-col>
	</ion-row>
	</div>
</ion-content>