<app-header></app-header>

<ion-content style="--background: #F5F5F5;">
  <div class="container">
  <div>
    <p class="heading header-font-size bold-font">Contact Us</p>
  </div>
 <ion-card>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right size-font">Name *</label>
      <div class="col-sm-8 col-lg-4">
        <input type="text" class="form-control input-tag size-font" id="" value="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right size-font">Email *</label>
      <div class="col-sm-8 col-lg-4">
        <input type="text" class="form-control input-tag size-font" id="" value="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right size-font">Phone *</label>
      <div class="col-sm-8 col-lg-4">
        <input type="text" class="form-control input-tag size-font" id="" value="">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right size-font">Message *</label>
      <div class="col-sm-8 col-lg-4">
        <textarea class="form-control rounded-0 size-font" id="exampleFormControlTextarea2" rows="2"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
      <button id="contact-submit" class="btn btn-primary shadow-sm">SUBMIT</button>
      </div>
    </div>
    <div class="mt-3 text-muted size-font">* marked fields are mandatory</div>
 </ion-card>
  </div>
</ion-content>
