<app-header title="'forgot-password'"></app-header>
<ion-content>
  <div class="modal-content">
    <div class="modal-header text-center d-block border-0">
      <h5 class="modal-title w-100">Account Recovery</h5>
      <div class="w-100 text-muted">Instruction goes here</div>
    </div>
    <div class="modal-body p-4">
      <form>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" id="" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary btn-block shadow-sm">RESET PASSWORD</button>
      </form>
    </div>
    <div class="modal-footer border-0 bg-light px-4"> <span class="align-middle mr-auto">Do not wish to reset password?</span><span  class="btn btn-danger shadow-sm shadow-sm">CANCEL</span> </div>
  </div>
</ion-content>