<app-header></app-header>
<ion-content>
  <main role="main" class="flex-shrink-0 mb-5">
    <div class="fixed-headingPostGig">
      <span>Post A Gig</span>
    </div>
    <div class="container">
       <div class="row" style="background: #ffffff;">
        <div class="col-lg-12 mt-4">
          <div class="row mt-4">
            <div class="col-lg-12">
              <div>
                <div>
                  <form>
                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Choose gig type *</label>
                      <div class="col-sm-8 col-lg-10">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" checked id="customRadioInline1" name="customRadioInline1"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline1">Crew gigs</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline2" name="customRadioInline1"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline2">Talent gigs/Casting calls</label>
                        </div>
                      </div>
                    </div>
                  </form>
                  <hr>
                  <form>
                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Type *</label>
                      <div class="col-sm-8 col-lg-10 d-flex">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline3" name="customRadioInline3"
                            class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline3 size-font">Documentary</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline ml-3 float-right">
                          <input type="radio" id="customRadioInline4" name="customRadioInline3"
                            class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline4 size-font">Narrative</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Length *</label>
                      <div class="col-sm-8 col-lg-10 d-flex">
                        <div class="custom-control custom-radio custom-control-inline col-sm-6">
                          <input type="radio" id="customRadioInline5" name="customRadioInline5"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline5 ">Short</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline col-sm-6 float-right">
                          <input type="radio" id="customRadioInline6" name="customRadioInline5"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline6">Feature</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Union *</label>
                      <div class="col-sm-8 col-lg-10 d-flex">
                        <div class="custom-control custom-radio custom-control-inline col-sm-6">
                          <input type="radio" id="customRadioInline7" name="customRadioInline7"
                            class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline7 size-font">Non union</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline col-sm-6 float-right">
                          <input type="radio" id="customRadioInline8" name="customRadioInline7"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline8">Union</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Payment *</label>
                      <div class="col-sm-8 col-lg-10 d-flex">
                        <div class="custom-control custom-radio custom-control-inline col-sm-6">
                          <input type="radio" id="customRadioInline9" name="customRadioInline9"
                            class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline9 size-font">Paid</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline col-sm-6 float-right">
                          <input type="radio" id="customRadioInline10" name="customRadioInline9"
                            class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline10 size-font">Unpaid</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right size-font" >Production dates *</label>
                      <div class="col-sm-8 col-lg-4" (click)="calendar()">
                        <input type="text" class="form-control" id="" readonly placeholder="03/12/2020 - 10/12/2020">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Working days *</label>
                      <div class="col-sm-8 col-lg-10 d-flex">
                        <div class="custom-control custom-radio custom-control-inline col-sm-6">
                          <input type="radio" id="customRadioInline11" name="customRadioInline11"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline11 ">5 days</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline col-sm-6 float-right">
                          <input type="radio" id="customRadioInline12" name="customRadioInline11"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline12">6 days</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right size-font">Total number of production days
                        *</label>
                      <div class="col-sm-8 col-lg-4">
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Lodging provided? *</label>
                      <div class="col-sm-8 col-lg-10">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline13" name="customRadioInline13"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline13">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline14" name="customRadioInline13"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline14">No</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Per dime provided? *</label>
                      <div class="col-sm-8 col-lg-10">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline15" name="customRadioInline15"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline15">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline16" name="customRadioInline15"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline16">No</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right size-font">How much *</label>
                      <div class="col-sm-8 col-lg-4">
                        <input type="text" class="form-control" id="">
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Travel provided? *</label>
                      <div class="col-sm-8 col-lg-10">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline17" name="customRadioInline17"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline17">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline18" name="customRadioInline17"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline18">No</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0 size-font">Kit rentals available *</label>
                      <div class="col-sm-8 col-lg-10">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline19" name="customRadioInline19"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline19">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline20" name="customRadioInline19"
                            class="custom-control-input">
                          <label class="custom-control-label size-font" for="customRadioInline20">No</label>
                        </div>
                      </div>
                    </div>
                    <h5 class="mt-4 size-font">Positions Available</h5>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" checked class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label size-font" for="customCheck1">Ad department</label>
                        </div>
                        <div class="custom-control custom-checkbox ml-4">
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label size-font" for="customCheck2">1st AD</label>
                        </div>
                        <div class="custom-control custom-checkbox ml-4">
                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                          <label class="custom-control-label size-font" for="customCheck3">2nd AD</label>
                        </div>
                        <div class="custom-control custom-checkbox ml-4">
                          <input type="checkbox" class="custom-control-input" id="customCheck4">
                          <label class="custom-control-label size-font" for="customCheck4">2nd 2nd AD</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck5">
                          <label class="custom-control-label size-font" for="customCheck5">Production department</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck6">
                          <label class="custom-control-label size-font" for="customCheck6">Camera department</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck7">
                          <label class="custom-control-label size-font" for="customCheck7">G&e department</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck8">
                          <label class="custom-control-label size-font" for="customCheck8">Hmu department</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck9">
                          <label class="custom-control-label size-font" for="customCheck9">Wardrobe department</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck10">
                          <label class="custom-control-label size-font" for="customCheck10">Sound department</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck11">
                          <label class="custom-control-label size-font" for="customCheck11">Art department</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck12">
                          <label class="custom-control-label size-font" for="customCheck12">Transportation department</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-lg-10 offset-lg-2 col-sm-8 offset-sm-4">
                        <button class="btn btn-primary shadow-sm" (click)="post()">POST GIG</button>
                      </div>
                    </div>
                    <div class="mt-3 text-muted size-font">* marked fields are mandatory</div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>