<ion-content>
  <div class="text">
    <p>Filters</p>
 <p class="size-font">Type</p>
    <label class="container size-font">Member
      <input type="radio" name="radio" checked>
      <span class="checkmark"></span>
    </label>
    <label class="container size-font">Gig
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <div class="sub-radio">
    <label class="container size-font">Active
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    <label class="container  size-font">Inactive
      <input type="radio" name="radio">
      <span class="checkmark"></span>
    </label>
    </div>
    <p class=" size-font">Radius</p>
    <div class="form-group row">
      <div class="col-sm-8 col-lg-4">
        <select class="form-control select  size-font" placeholder="100+ Miles">
          <option selected>100+ Miles</option>
          <option value="uae"></option>
          <option value="usa"></option>
        </select>
      </div>
    </div>
  </div>
  <div class="footer-div"> 
    <ion-row style="width: 100%;">
      <ion-col size="5">
        <button id="footer-btn1" (click)="close()">CLOSE</button>
      </ion-col>
      <ion-col size="1">
      </ion-col>
      <ion-col size="3" class="footer-label">
        <p>Clear Filter</p>
      </ion-col>
      <ion-col size="3">
        <button id="footer-btn2">SEARCH</button>
      </ion-col>
      </ion-row>
</div> 
</ion-content>
