<ion-header>
	<ion-toolbar style="--background: #000000;">
	  <ion-buttons slot="end">
		<ion-menu-button style="--color:#ffffff"></ion-menu-button>
	  </ion-buttons>
	  <ion-img class="logoIcon" src="assets/images/logo.png" slot="start"></ion-img>
	</ion-toolbar>
</ion-header>
<ion-content style="--background: #F5F5F5 !important;">
	<div class="flex-shrink-0 mb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 mt-3">
					<h5 style="font-size: 16px;">Change Password </h5>
					<div class="row">
						<div class="" style=" width: 100%;">
							<div class="border-0">
								<div class="card-body" style="background: #F5F5F5 !important;">
									<div class="row">
										<div class="col-sm-6">
											<form>
												<div class="form-group">
													<label for="">New Password *</label>
													<input type="password" class="form-control" autocomplete="off" />
													<div class="invalid-feedback">
														<div>Password is Required</div>
														<div>Password must be at least 6 characters</div>
													</div>
												</div>
												<div class="form-group">
													<label for="">Confirm Password *</label>
													<input type="password" class="form-control" autocomplete="off" />
													<div class="invalid-feedback">
														<div>Confirm Password is Required</div>
														<div>Confirm Password must match with password </div>
													</div>
												</div>
												<button type="submit" class="btn btn-primary shadow-sm">Change
													Password</button>
											</form>
											<div class="mt-3 text-muted">* marked fields are mandatory</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>