<app-header [title]="'signup'"></app-header>
<ion-content>
	<div>
		<div class="modal-header text-center d-block border-0">
			<h5 class="modal-title w-100">Create An Account</h5>
			<div class="w-100 text-muted">Instruction goes here</div>
		</div>
		<div class="modal-body p-4">
			<form action="home.html">
				<div class="form-group">
					<label for="" class="size-font">Full Name</label>
					<input type="text" class="form-control size-font" id="" placeholder="Enter full name">
				</div>
				<div class="form-group">
					<label for="" class="size-font">Email</label>
					<input type="email" class="form-control size-font" id="" placeholder="Enter email">
				</div>
				<div class="form-group">
					<label for="" class="size-font">Password</label>
					<input type="password" class="form-control size-font" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="" class="size-font">Confirm Password</label>
					<input type="password" class="form-control size-font" placeholder="Confirm password">
				</div>
				<button type="submit" class="btn btn-primary btn-block shadow-sm" (click)="signup()">SIGN UP</button>
			</form>
		</div>
		<div class="modal-footer border-0 bg-light px-3"> <span class="mr-auto size-font">Already have an
				account?</span><span  (click)="signin()"
				class="btn btn-danger shadow-sm shadow-sm">SIGN IN</span> </div>
	</div>
</ion-content>