@import '../../../assets/css/main-theme.css';
@import '../../../assets/css/style.css';


.fixed-heading{
    width: 100%;
    position: fixed;
    z-index: 999;
    background: #F5F5F5;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: -48px;
    padding-left: 18px;
}