<ion-header>
	<ion-toolbar style="--background: #000000;">
	  <ion-buttons slot="end">
		<ion-menu-button style="--color:#ffffff"></ion-menu-button>
	  </ion-buttons>
	  <ion-img class="logoIcon" src="assets/images/logo.png" slot="start"></ion-img>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div class="container">
		<div class="row">
			<div class="mt-5 col-sm-12">
				<div class="fixed-heading ml-n3">Edit Profile</div>
				<div class="row">
					<div class="" style=" width: 100%;">
						<div class="tab-content" id="v-pills-tabContent">
							<div class="tab-pane fade show active" id="v-pills-basic" role="tabpanel"
								aria-labelledby="v-pills-basic-tab">
								<div class="row">
									<div class="col-lg-12">
										<div class="card shadow-sm">
											<div class="card-body" style="background: #F5F5F5; margin-top: -25px;">
												<form>
													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Use
															account as *</label>
														<div class="col-sm-6 col-lg-4">
															<select class="form-control">
																<option>Talent</option>
																<option>Producer</option>
																<option>Crew</option>
															</select>
														</div>
													</div>

													<div class="form-group row">
														<div class="col-lg-8 offset-lg-4 col-sm-6 offset-sm-6">
															<div class="input-group">
																<div class="custom-file custom-file-photo" (click) ="addPhoto('profile')">
																	<input type="file" class="custom-file-input"
																		id="inputGroupFile02">
																	<label class="custom-file-label"
																		aria-describedby="inputGroupFileAddon02">
																		<img *ngIf="!imagedata"
																			src="../../../assets/images/image_placeholder.png"
																			class="rounded float-left"
																			alt="Upload your photo">
																		<img *ngIf="imagedata"
																			src={{imagedata}}
																			class="rounded float-left"
																			alt="Upload your photo"></label>
																</div>
															</div>
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Full
															name *</label>
														<div class="col-sm-6 col-lg-4">
															<input type="text" class="form-control" id=""
																value="Ben paul">
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Email
															address *</label>
														<div class="col-sm-6 col-lg-4">
															<input type="text" class="form-control" id=""
																value="benpaul89@gmail.com">
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Display
															email publicly</label>
														<div class="col-sm-6 col-lg-8">
															<div class="custom-control custom-switch">
																<input type="checkbox" class="custom-control-input"
																	id="customSwitch1">
																<label class="custom-control-label"
																	for="customSwitch1"></label>
															</div>
															<small class="text-secondary">Email address will be
																displayed publicly if the switch is
																on.</small>
														</div>
													</div>



													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Phone
															number *</label>
														<div class="col-sm-6 col-lg-4">
															<input type="text" class="form-control" id=""
																value="+1 9856 654 789">
															<input type="text" class="form-control is-valid mt-3" id=""
																value="898564">
														</div>
														<div
															class="col-sm-6 col-lg-4 col-form-label offset-sm-6 offset-lg-0">
															<span class="text-link">Verify now</span></div>
													</div>



													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Display
															phone publicly</label>
														<div class="col-sm-6 col-lg-8">
															<div class="custom-control custom-switch">
																<input type="checkbox" class="custom-control-input"
																	id="customSwitch2">
																<label class="custom-control-label"
																	for="customSwitch2"></label>
															</div>
															<small class="text-secondary">Phone number will be displayed
																publicly if the switch is
																on.</small>
														</div>
													</div>
													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Gender
															*</label>
														<div class="col-sm-6 col-lg-4">
															<select class="form-control">
																<option value="1">Any</option>
																<option value="2">Male</option>
																<option value="3">Female</option>
															</select>
															<div class="invalid-feedback">
																<div>Gender is required</div>
															</div>
														</div>
													</div>
													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Location
															*</label>
														<div class="col-sm-6 col-lg-4">
															<input type="text" class="form-control" id="">
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Display
															address
															publicly</label>
														<div class="col-sm-6 col-lg-8">
															<div class="custom-control custom-switch">
																<input type="checkbox" class="custom-control-input"
																	id="customSwitch3">
																<label class="custom-control-label"
																	for="customSwitch3"></label>
															</div>
															<small class="text-secondary">Address will be displayed
																publicly if the switch is
																on.</small>
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">User
															rating/Link to all
															reviews *</label>
														<div class="col-sm-6 col-lg-4">
															<textarea class="form-control"></textarea>
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">BIO
															*</label>
														<div class="col-sm-6 col-lg-4">
															<textarea class="form-control"></textarea>
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">IMDB/Social
															media link</label>
														<div class="col-sm-6 col-lg-4 d-flex">
															<input type="text" class="form-control" id="">
															<button class="shadow-sm btn btn-primary"><i
																	class="fas fa-plus"></i></button>
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Website
															link</label>
														<div class="col-sm-6 col-lg-4">
															<input type="text" class="form-control" id="">
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Upload
															resume</label>
														<div class="col-sm-6 col-lg-4">
															<div class="input-group">
																<div class="custom-file">
																	<input type="file" class="custom-file-input"
																		id="inputGroupFile02">
																	<label class="custom-file-label"
																		
																		aria-describedby="inputGroupFileAddon02">Choose
																		file</label>
																</div>
															</div>
															<small class="text-secondary">File type: doc, pdf | Max file
																size: 5mb</small>
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right">Additional
															photo/video</label>
														<div class="col-sm-6 col-lg-4 d-flex ">
															<div class="input-group" (click)="addImage()">
																<div class="custom-file custom-file-photo">
																	<input type="file" class="custom-file-input"
																		id="inputGroupFile04">
																	<label class="custom-file-label"
																		
																		aria-describedby="inputGroupFileAddon02" >
																		<img *ngIf="!moreImagedata"
																			src="../../../assets/images/upload_photo.png"
																			class="rounded float-left img-fluid"
																			alt="Upload your photo">
																		<img *ngIf="moreImagedata"
																			src={{moreImagedata}}
																			class="rounded float-left img-fluid"
																			alt="Upload your photo">
																		
																		</label>
																</div>
															</div>
															
														</div>
														<div class="col-sm-6 col-lg-8 offset-lg-4 offset-sm-6"><small
																class="text-secondary">File
																type: mp4, jpg, png | Max file size: 50mb</small></div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Jobs
															interested in</label>
														<div class="col-sm-6 col-lg-4">
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck111">
																<label class="form-check-label" for="defaultCheck111">
																	Ad department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck112">
																<label class="form-check-label" for="defaultCheck112">
																	Production department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck113">
																<label class="form-check-label" for="defaultCheck113">
																	Camera department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck114">
																<label class="form-check-label" for="defaultCheck114">
																	G&E department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck115">
																<label class="form-check-label" for="defaultCheck115">
																	Hmu department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck116">
																<label class="form-check-label" for="defaultCheck116">
																	Wardrobe department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck117">
																<label class="form-check-label" for="defaultCheck117">
																	Sound department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck118">
																<label class="form-check-label" for="defaultCheck118">
																	Art department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck119">
																<label class="form-check-label" for="defaultCheck119">
																	Transportation department
																</label>
															</div>
														</div>
													</div>

													<div class="form-group row">
														<label
															class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Experienced
															in</label>
														<div class="col-sm-6 col-lg-4">
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck211">
																<label class="form-check-label" for="defaultCheck211">
																	Ad department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck212">
																<label class="form-check-label" for="defaultCheck212">
																	Production department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck213">
																<label class="form-check-label" for="defaultCheck213">
																	Camera department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck214">
																<label class="form-check-label" for="defaultCheck214">
																	G&e department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck215">
																<label class="form-check-label" for="defaultCheck215">
																	Hmu department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck216">
																<label class="form-check-label" for="defaultCheck216">
																	Wardrobe department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck217">
																<label class="form-check-label" for="defaultCheck217">
																	Sound department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck218">
																<label class="form-check-label" for="defaultCheck218">
																	Art department
																</label>
															</div>
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""
																	id="defaultCheck219">
																<label class="form-check-label" for="defaultCheck219">
																	Transportation department
																</label>
															</div>
														</div>
													</div>


													<div class="form-group row">
														<label
															class="col-sm-4 col-lg-2 col-form-label text-sm-right pt-0">Equipment
															owned </label>
														<div class="col-sm-8 col-lg-10">
															<div
																class="custom-control custom-radio custom-control-inline">
																<input type="radio" id="customRadioInline17"
																	name="customRadioInline17"
																	class="custom-control-input">
																<label class="custom-control-label"
																	for="customRadioInline17">Yes</label>
															</div>
															<div
																class="custom-control custom-radio custom-control-inline">
																<input type="radio" id="customRadioInline18"
																	name="customRadioInline17"
																	class="custom-control-input">
																<label class="custom-control-label"
																	for="customRadioInline18">No</label>
															</div>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-8 col-lg-4">
															<textarea class="form-control rounded-0"
																id="exampleFormControlTextarea2" rows="2"></textarea>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-6 col-lg-8 offset-lg-4 offset-sm-6">
															<button class="btn btn-primary shadow-sm">SUBMIT</button>
														</div>
													</div>
													<div class="mt-3 text-muted">* marked fields are mandatory</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="v-pills-talent" role="tabpanel"
								aria-labelledby="v-pills-talent-tab">
								<div class="card shadow-sm">
									<div class="card-body">
										<form>
											<div class="form-group row">
												<label class="col-sm-6 col-lg-4 col-form-label text-sm-right">Full body
													pic *<br><small>(Must be
														within five years)</small></label>
												<div class="col-lg-8 col-sm-6">
													<div class="input-group">
														<div class="custom-file custom-file-photo">
															<input type="file" class="custom-file-input"
																id="inputGroupFile02">
															<label class="custom-file-label" 
																aria-describedby="inputGroupFileAddon02"><img
																	src="assets/images/image_placeholder.png"
																	class="rounded float-left"
																	alt="Upload your photo"></label>
														</div>

													</div>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-6 col-lg-4 col-form-label text-sm-right">Age
													*</label>
												<div class="col-sm-6 col-lg-4">
													<input type="text" class="form-control" id="" value="">
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-6 col-lg-4 col-form-label text-sm-right">Race
													*</label>
												<div class="col-sm-6 col-lg-4">
													<input type="text" class="form-control" id="" value="">
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-6 col-lg-4 col-form-label text-sm-right">Height
													*</label>
												<div class="col-sm-6 col-lg-4">
													<input type="text" class="form-control" id="" value="">
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-6 col-lg-4 col-form-label text-sm-right">Weight
													*</label>
												<div class="col-sm-6 col-lg-4">
													<input type="text" class="form-control" id="" value="">
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-6 col-lg-4 col-form-label text-sm-right">Hair color
													*</label>
												<div class="col-sm-6 col-lg-4">
													<input type="text" class="form-control" id="" value="">
												</div>
											</div>

											<div class="form-group row">
												<label
													class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Tattoos
													*</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check form-check-inline">
														<input class="form-check-input" checked type="radio"
															name="inlineRadioOptions" id="inlineRadio1" value="option1">
														<label class="form-check-label" for="inlineRadio1">Yes</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="radio"
															name="inlineRadioOptions" id="inlineRadio2" value="option2">
														<label class="form-check-label" for="inlineRadio2">No</label>
													</div>
													<textarea class="form-control mt-2"
														placeholder="Description"></textarea>
												</div>
											</div>

											<div class="form-group row">
												<label
													class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Piercings
													*</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="radio"
															name="inlineRadioOptions1" id="inlineRadio3"
															value="option3">
														<label class="form-check-label" for="inlineRadio3">Yes</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input" checked type="radio"
															name="inlineRadioOptions1" id="inlineRadio4"
															value="option4">
														<label class="form-check-label" for="inlineRadio4">No</label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label
													class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Willing
													to travel?</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck1">
														<label class="form-check-label" for="defaultCheck1">
															Yes on production dime
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck2">
														<label class="form-check-label" for="defaultCheck2">
															Yes on own dime
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck3">
														<label class="form-check-label" for="defaultCheck3">
															No
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck4">
														<label class="form-check-label" for="defaultCheck4">
															Possibly
														</label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label
													class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Union?</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck5">
														<label class="form-check-label" for="defaultCheck5">
															Union
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck6">
														<label class="form-check-label" for="defaultCheck6">
															Non union
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck7">
														<label class="form-check-label" for="defaultCheck7">
															Both
														</label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<div class="col-sm-6 col-lg-8 offset-lg-4 offset-sm-6">
													<button class="btn btn-primary shadow-sm">SUBMIT</button>
												</div>
											</div>
											<div class="mt-3 text-muted">* marked fields are mandatory</div>
										</form>
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="v-pills-producer" role="tabpanel"
								aria-labelledby="v-pills-producer-tab">
								<div class="card shadow-sm">
									<div class="card-body">
										Fields
									</div>
								</div>
							</div>

							<div class="tab-pane fade" id="v-pills-crew" role="tabpanel"
								aria-labelledby="v-pills-crew-tab">
								<div class="card shadow-sm">
									<div class="card-body">
										<form>
											<div class="form-group row">
												<label class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Jobs
													interested in</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck111">
														<label class="form-check-label" for="defaultCheck111">
															Ad department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck112">
														<label class="form-check-label" for="defaultCheck112">
															Production department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck113">
														<label class="form-check-label" for="defaultCheck113">
															Camera department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck114">
														<label class="form-check-label" for="defaultCheck114">
															G&e department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck115">
														<label class="form-check-label" for="defaultCheck115">
															Hmu department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck116">
														<label class="form-check-label" for="defaultCheck116">
															Wardrobe department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck117">
														<label class="form-check-label" for="defaultCheck117">
															Sound department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck118">
														<label class="form-check-label" for="defaultCheck118">
															Art department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck119">
														<label class="form-check-label" for="defaultCheck119">
															Transportation department
														</label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label
													class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Experienced
													in</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck211">
														<label class="form-check-label" for="defaultCheck211">
															Ad department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck212">
														<label class="form-check-label" for="defaultCheck212">
															Production department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck213">
														<label class="form-check-label" for="defaultCheck213">
															Camera department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck214">
														<label class="form-check-label" for="defaultCheck214">
															G&e department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck215">
														<label class="form-check-label" for="defaultCheck215">
															Hmu department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck216">
														<label class="form-check-label" for="defaultCheck216">
															Wardrobe department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck217">
														<label class="form-check-label" for="defaultCheck217">
															Sound department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck218">
														<label class="form-check-label" for="defaultCheck218">
															Art department
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck219">
														<label class="form-check-label" for="defaultCheck219">
															Transportation department
														</label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label
													class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Equipment
													owned</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck15">
														<label class="form-check-label" for="defaultCheck15">
															1
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck16">
														<label class="form-check-label" for="defaultCheck16">
															2
														</label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label
													class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Willing
													to travel?</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck17">
														<label class="form-check-label" for="defaultCheck17">
															Yes on production dime
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck18">
														<label class="form-check-label" for="defaultCheck18">
															Yes on own dime
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck19">
														<label class="form-check-label" for="defaultCheck19">
															No
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck20">
														<label class="form-check-label" for="defaultCheck20">
															Possibly
														</label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label
													class="col-sm-6 col-lg-4 col-form-label text-sm-right pt-0">Union?</label>
												<div class="col-sm-6 col-lg-4">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck21">
														<label class="form-check-label" for="defaultCheck21">
															Union
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck22">
														<label class="form-check-label" for="defaultCheck22">
															Non union
														</label>
													</div>
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value=""
															id="defaultCheck23">
														<label class="form-check-label" for="defaultCheck23">
															Both
														</label>
													</div>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-6 col-lg-4 col-form-label text-sm-right">Day rate
													*</label>
												<div class="col-sm-6 col-lg-4">
													<input type="text" class="form-control" id="" value="">
												</div>
											</div>

											<div class="form-group row">
												<div class="col-sm-6 col-lg-8 offset-lg-4 offset-sm-6">
													<!-- <button class="btn btn-secondary shadow-sm">CANCEL</button> -->
													<button class="btn btn-primary shadow-sm">SUBMIT</button>
												</div>
											</div>
											<div class="mt-3 text-muted">* marked fields are mandatory</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ion-content>