
<ion-content >
	<ion-item>
		<ion-buttons slot="end">
			<ion-button (click)="close()">
				<ion-icon name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-item>
	<div class="col-sm-8 col-lg-4">
		<ion-calendar [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'">
		</ion-calendar>
	</div>
	<div class="col-sm-8 col-lg-4">
		<select class="form-control">
			<option _ngcontent-c8="" value="" ng-reflect-value="">Time zone</option>
			<option *ngFor="let dateText of timezonesArray" [value]="dateText.value">{{dateText.value}}
			</option>
		</select>
	</div>
</ion-content>