<app-header></app-header>

<ion-content>
  <ion-item lines="none"  class="fixed-heading">
    <ion-row style="width: 100%;">
      <ion-col size="3">
        <p class="head-text">My Gigs</p>
      </ion-col>
      <ion-col size="3">
      </ion-col>
      <ion-col size="4">
      </ion-col>
      <ion-col size="2">
        <button id="filterBtn" (click)="filter()">Filter</button>
      </ion-col>
    </ion-row>
  </ion-item>

  <div class="box h-100" (click)="gigsDetail()">
    <ion-item lines="full">
      <ion-row style="width: 100%;">
        <ion-col size="6">
        </ion-col>
        <ion-col size="2">
          <p class="box-heading size-font">Type</p>
        </ion-col>
        <ion-col size="4">
          <p class="box-heading size-font"> Posted Date </p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="full" >
      <ion-row style="width: 100%;">
        <ion-col size="6" class="box-content">
          <p class="box-title size-font">New Crew Gig Post</p>
          <p class="box-heading size-font">Albany, MN</p>
          <p class="box-heading size-font">Payments: Unpaid</p>
          <p class="box-heading size-font">Number of Days: 5</p>
        </ion-col>
        <ion-col size="2">
          <p class="box-heading size-font">Crew</p>
        </ion-col>
        <ion-col size="4">
          <p class="box-heading size-font"> 10/24/2019 </p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="full" >
      <ion-row style="width: 100%;">
        <ion-col size="6" class="box-content">
          <p class="box-title size-font">New Crew Gig Post</p>
          <p class="box-heading size-font">Albany, MN</p>
          <p class="box-heading size-font">Payments: Unpaid</p>
          <p class="box-heading size-font">Number of Days: 5</p>
        </ion-col>
        <ion-col size="2">
          <p class="box-heading size-font">Crew</p>
        </ion-col>
        <ion-col size="4">
          <p class="box-heading size-font"> 10/24/2019 </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="full" >
      <ion-row style="width: 100%;">
        <ion-col size="6" class="box-content">
          <p class="box-title size-font">New Crew Gig Post</p>
          <p class="box-heading size-font">Albany, MN</p>
          <p class="box-heading size-font">Payments: Unpaid</p>
          <p class="box-heading size-font">Number of Days: 5</p>
        </ion-col>
        <ion-col size="2">
          <p class="box-heading size-font">Crew</p>
        </ion-col>
        <ion-col size="4">
          <p class="box-heading size-font"> 10/24/2019 </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="full" >
      <ion-row style="width: 100%;">
        <ion-col size="6" class="box-content">
          <p class="box-title size-font">New Crew Gig Post</p>
          <p class="box-heading size-font">Albany, MN</p>
          <p class="box-heading size-font">Payments: Unpaid</p>
          <p class="box-heading size-font">Number of Days: 5</p>
        </ion-col>
        <ion-col size="2">
          <p class="box-heading size-font">Crew</p>
        </ion-col>
        <ion-col size="4">
          <p class="box-heading size-font"> 10/24/2019 </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="full" >
      <ion-row style="width: 100%;">
        <ion-col size="6" class="box-content">
          <p class="box-title size-font">New Crew Gig Post</p>
          <p class="box-heading size-font">Albany, MN</p>
          <p class="box-heading size-font">Payments: Unpaid</p>
          <p class="box-heading size-font">Number of Days: 5</p>
        </ion-col>
        <ion-col size="2">
          <p class="box-heading size-font">Crew</p>
        </ion-col>
        <ion-col size="4">
          <p class="box-heading size-font"> 10/24/2019 </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="full" >
      <ion-row style="width: 100%;">
        <ion-col size="6" class="box-content">
          <p class="box-title size-font">New Crew Gig Post</p>
          <p class="box-heading size-font">Albany, MN</p>
          <p class="box-heading size-font">Payments: Unpaid</p>
          <p class="box-heading size-font">Number of Days: 5</p>
        </ion-col>
        <ion-col size="2">
          <p class="box-heading size-font">Crew</p>
        </ion-col>
        <ion-col size="4">
          <p class="box-heading size-font"> 10/24/2019 </p>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item lines="full" >
      <ion-row style="width: 100%;">
        <ion-col size="6" class="box-content">
          <p class="box-title size-font">New Crew Gig Post</p>
          <p class="box-heading size-font">Albany, MN</p>
          <p class="box-heading size-font">Payments: Unpaid</p>
          <p class="box-heading size-font">Number of Days: 5</p>
        </ion-col>
        <ion-col size="2">
          <p class="box-heading size-font">Crew</p>
        </ion-col>
        <ion-col size="4">
          <p class="box-heading size-font"> 10/24/2019 </p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item lines="full" >
    
      <!-- <pagination-controls
      (pageChange)="pageChanged($event)"
      maxSize="2"
      previousLabel="Previous"
      nextLabel="Next"
     >
</pagination-controls> -->
   
    </ion-item>
  </div>
 

 
 
 
  <!-- <ion-row class="actor-row">
    <ion-col class="profile">
      <ion-card class="actor-card">
        <ion-card-header>
          <ion-card-title>Miller Smith 25</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="card-details">
            374 William S Canning Blvd, Fall River MA 2721
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="profile">
      <ion-card class="actor-card">
        <ion-card-header>
          <ion-card-title>Miller Smith 25</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="card-details">
            5919 Trussville Crossings Pkwy, Birmingham AL 35235
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row> -->
</ion-content>