<ion-header>
	<ion-toolbar style="--background: #000000;">
	  <ion-buttons slot="end">
		<ion-menu-button style="--color:#ffffff"></ion-menu-button>
	  </ion-buttons>
	  <ion-img class="logoIcon" src="assets/images/logo.png" slot="start"></ion-img>
	</ion-toolbar>
</ion-header>
<ion-content style="--background: #F5F5F5 !important;">
  <div>
    <p class="heading">Notifications</p>
  </div>
  <ion-card>
    <ion-item lines="none" style="--background: #FFFFFF !important;">
      <ion-row style="width: 100%;">
        <ion-col size="5">
          <ion-label>
            <p class="title">Notification Title</p>
            <p class="details">Notification Details</p>
          </ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-label>
            <p class="time">02:00 AM,03/10/20</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none" style="--background: #FFFFFF !important;">
      <ion-row style="width: 100%;">
        <ion-col size="5">
          <ion-label>
            <p class="title">Notification Title</p>
            <p class="details">Notification Details</p>
          </ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-label>
            <p class="time">02:00 AM,03/10/20</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none" style="--background: #FFFFFF !important;">
      <ion-row style="width: 100%;">
        <ion-col size="5">
          <ion-label>
            <p class="title">Notification Title</p>
            <p class="details">Notification Details</p>
          </ion-label>
        </ion-col>
        <ion-col size="7">
          <ion-label>
            <p class="time">02:00 AM,03/10/20</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>
</ion-content>
